*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Helvetica, sans-serif;
}
.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
#navbar a:hover{
    color:rgb(255, 198, 141) ;
    font-size: large;
}
.bg-red{
    background-color:rgb(255, 0, 0);
}
.bg-blue{
    background-color: rgb(0, 0, 255);
}
.bg-green{
    background-color: rgb(0, 194, 0);
}
.bg-brown{
    background-color: rgb(142, 136, 129);
}
.bg-grayish{
    background-color: rgb(236, 236, 236);
}
a{
    text-decoration: none;
    color:#fff;
}
.bg-blueclear{
    background-color: rgb(0, 0, 75);
}
.bg-browgray{
    background-color: rgb(113, 113, 113);
}
.text-orange{
    color: #a25e00;
}
.text-orangish{
    color:rgb(255, 198, 141);
}
#equipe h5,h1{
    color: #a25e00;
}
#temoignage .img {
    border-radius: 50%;
    box-shadow: 0 0 15px #000;
}
#temoignage h5{
    color: rgb(255, 198, 141);
}
#contact h2{
    color: #a25e00;
}
#liens h5,i{
    color: rgb(255, 198, 141);
    font-weight: bold;
}
#liens, #temoignage, #apropos{
    border: 2px solid rgb(255, 198, 141) ;
}
#apropos h1{
    color: rgb(255, 198, 141);
}
h5{
    font-weight: bold;
}
